.alert-content{
    align-items: center;
    text-align: center;
    padding: 10px;
    img {
        width: 18em;
        margin-top: 20px;
    }
    h1 {
        font-size: 12px;
    }
    button {
        margin-top: 20px;
    }
}